---
import { Image } from "astro:assets";
import MasterCardLogo from '../images/CardsBrand/mastercard.svg';
import VisaLogo from '../images/CardsBrand/visa.svg';
import AmericanExpressLogo from '../images/CardsBrand/american-express.svg';
import DinersClubLogo from '../images/CardsBrand/diners-club.svg';
import EloLogo from '../images/CardsBrand/elo.svg';
import HipercardLogo from '../images/CardsBrand/hipercard.svg';
import jcbLogo from '../images/CardsBrand/jcb.svg';


---
<footer class="text-white w-full">
    <!-- Links and copy -->
    <div class="bg-neu-08 p-8 xl:px-28 xl:py-8 text-sm tracking-widest flex flex-col md:flex-row gap-6 md:gap-0 justify-between items-start md:items-center">
        <div class="self-start flex flex-col gap-2">
            <h3 class="font-bold text-xs md:text-sm tracking-[0.15em] uppercase">About us</h3>
            <ul class="tracking-wide font-light text-sm space-y-1">
                <li><a href="#">EDP Group</a></li>
                <li><a href="#">Work with us</a></li>
            </ul>
        </div>
        <div class="self-start flex flex-col gap-2">
            <h3 class="font-bold text-xs md:text-sm tracking-[0.15em] uppercase ">Support</h3>
            <ul class="tracking-wide font-light text-sm space-y-1">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Customer support</a></li>
                <li><a href="#">Support protocols</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="self-start flex flex-col gap-2">
            <h3 class="font-bold text-xs md:text-sm tracking-[0.15em] uppercase ">Useful links</h3>
            <ul class="tracking-wide font-light text-sm space-y-1">
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Cookie policy</a></li>
                <li><a href="#">Terms of use</a></li>
            </ul>
        </div>
        <p class="text-[#939393] font-light text-sm tracking-wider">
            ©Copyright 2019 - EDP Smart.
            <br/>All rights reserved.
        </p>
    </div>
    <!-- Address and Card  -->
    <div class="flex-1 p-8 xl:px-28 xl:py-8 bg-[#252525]">
        <div class="flex flex-col md:flex-row gap-8 md:gap-4 justify-between items-center">
            <p class="flex flex-col tracking-wide text-xs">
                <span class="font-bold tracking-wider">
                    EDP SMART DISTRIBUTION NETWORK MANAGEMENT S.A.
                    <span class="font-light lg:pl-2 lg:border-l md:border-[#939393]">CNPJ 02.154.070/0008-04</span>
                </span>
                <span class="font-light">
                    1996 Gomes de Carvalho Street, 7th floor
                    Vila Olímpia, São Paulo - SP, 04547-006
                    <br/>
                    Office hours:
                    <br/>
                    Monday to Saturday from 8 a.m. to 8:40 p.m.
                    From any city in Brazil, call 0800 721 5044
                </span>
            </p>
            <div class="grid grid-cols-4 xl:inline-flex gap-4 justify-center items-center">
                <Image class="w-full" src={MasterCardLogo}  alt="Mastercard Logo" />
                <Image class="w-full" src={VisaLogo} alt="Visa Logo" />
                <Image class="w-full" src={AmericanExpressLogo}  alt="American Express Logo" />
                <Image class="w-full" src={DinersClubLogo}  alt="Diners Club Logo" />
                <Image class="w-full" src={EloLogo}  alt="Elo Logo" />
                <Image class="w-full" src={HipercardLogo}  alt="Hipercard Logo" />
                <Image class="w-full" src={jcbLogo}  alt="JCB Logo" />
            </div>
        </div>
    </div>
</footer>
